<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.facilityreservationsystem">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminUserDetail"
            android:parentActivityName=".AdminUserList"></activity>
        <activity android:name=".AdminUserList"
            android:parentActivityName=".AdminSearchUser"/>
        <activity android:name=".AdminSearchUser"
            android:parentActivityName=".AdminHomeScreen"/>
        <activity
            android:name=".NoShowViolation"
            android:parentActivityName=".UserHomeScreen" />
        <activity
            android:name=".NoShowViolationDetail"
            android:parentActivityName=".NoShowViolation" />
        <activity
            android:name=".ReservationDetail"
            android:parentActivityName=".UserHomeScreen" />
        <activity
            android:name=".UserReservationList"
            android:parentActivityName=".UserHomeScreen" />
        <activity
            android:name=".Payment"
            android:parentActivityName=".FacilityDetailForUser" />
        <activity
            android:name=".FacilityDetailForUser"
            android:parentActivityName=".AvailableFacilityList" />
        <activity
            android:name=".AvailableFacilityList"
            android:parentActivityName=".UserFacilitySearch" />
        <activity
            android:name=".UserFacilitySearch"
            android:parentActivityName=".UserHomeScreen" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".UserHomeScreen" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".FacilityManagerHomeScreen" />
        <activity android:name=".AdminHomeScreen" />
        <activity android:name=".UserHomeScreen" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>